* {
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
}

#body {
    width: 1920px;
    height: 1080px;
}

.allC .topC {
    width: 1520px;
    height: 100px;
    background-color: aqua;
    float: left;
    margin-left: 200px;
}

.allC .topC .just1 a {
    float: left;
    font-size: 40px;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 20px;
}

.allC .topC .just2 a {
    float: left;
    font-size: 40px;
    text-decoration: none;
    margin-top: -50px;
    margin-left: 20px;
}

.allC .topC .just2 {
    margin-left: 1000px;
}

.allC .topC .zi {
    margin-left: 600px;
    width: 300px;
    height: 44px;
    margin-top: 25px;
}

.allC .topC .zi h1 {
    margin-left: 30px;
}

.allC .bodyAll {
    width: 1200px;
    height: 900px;
    margin-left: 180px;
    background-color: darkorange;
    margin-left: 380px;
}

.allC .bodyAll .hezi1 {
    width: 290px;
    height: 300px;
    background-color: darkkhaki;
    float: left;
    margin-left: 10px;
}

.allC .bodyAll .hezi2 {
    width: 290px;
    height: 300px;
    background-color: darkkhaki;
    float: left;
    margin-left: 10px;
}

.allC .bodyAll .hezi3 {
    width: 290px;
    height: 300px;
    background-color: darkkhaki;
    float: left;
    margin-left: 10px;
}

.allC .bodyAll .hezi4 {
    width: 290px;
    height: 300px;
    background-color: darkkhaki;
    float: left;
    margin-left: 10px;
}

.allC .bodyAll .hezi5 {
    width: 290px;
    height: 300px;
    background-color: darkkhaki;
    float: left;
    margin-left: 10px;
    margin-top: 150px;
}

.allC .bodyAll .hezi6 {
    width: 290px;
    height: 300px;
    background-color: darkkhaki;
    float: left;
    margin-left: 10px;
    margin-top: 150px;
}

.allC .bodyAll .hezi7 {
    width: 290px;
    height: 300px;
    background-color: darkkhaki;
    float: left;
    margin-left: 10px;
    margin-top: 150px;
}

.allC .bodyAll .hezi8 {
    width: 290px;
    height: 300px;
    background-color: darkkhaki;
    float: left;
    margin-left: 10px;
    margin-top: 150px;
}

.footer {
    width: 1000px;
    height: 50px;
    float: left;
    margin-left: 950px;
}

.footer h1 {
    float: left;
    margin-left: 700px;
}