* {
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
}

#body {
    width: 1920px;
}

.all .Top {
    width: 700px;
    height: 100px;
    background-color: aqua;
    margin-left: 600px;
}

.all .Top h1 {
    float: left;
    margin-left: 300px;
    margin-top: 25px;
}

.all .bodyMain {
    width: 1200px;
    height: 500px;
    margin-left: 400px;
}

.all .bodyMain .one {
    width: 200px;
    height: 500px;
    float: left;
}

.all .bodyMain .two {
    width: 200px;
    height: 500px;
    margin-left: 100px;
    float: left;
}

.all .bodyMain .three {
    width: 200px;
    height: 500px;
    margin-left: 100px;
    float: left;
}

.all .bodyMain .four {
    width: 200px;
    height: 500px;
    margin-right: 100px;
    float: right;
}

.all .under .underOne {
    width: 1100px;
    height: 150px;
    margin-left: 400px;
    background-color: blue;
    float: left;
}

.footer {
    width: 1000px;
    height: 50px;
    float: left;
    margin-left: 150px;
}

.footer h1 {
    float: left;
    margin-left: 700px;
}